{{log book}}
<h1>Welcome to our book </h1>

<section class="book">
  <h2>{{book.title}}</h2>
  <p>
    Author:
    {{book.author.name}}
    <br />
    Rating:
    {{book.rating}}
    <br />
  </p>
  <p>
    {{book.description}}
  </p>
</section>