<h1>Welcome to our books list</h1>

{{#each books}}
  <section class="book">
    <h2>{{title}}</h2>
    <p>
      Author:
      {{author.name}}
      <br />
      Rating:
      {{rating}}
      <br />
      <a href="/books/{{_id}}">More …</a>
      <a href="/books/{{_id}}/edit">Edit this book</a>
    </p>
    {{! add the form to handle the POST request to remove a specific book  }}
    <form action="/books/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>

  </section>
{{/each}}